*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: cadetblue;
    font-family: Georgia;
    
}
h2{
    background: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.formulario{
    background: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.formulario input{
    display: block;
}
.formulario input[type="text"],.formulario input[type="email"],.formulario input[type="tel"],
.formulario input[type="date"],.formulario label, .formulario input[list="Usuario"]
.formulario select, .formulario textarea, .formulario datalist {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid green;
    font-size: 16px;
    font-family: Arial;
}
.formulario textarea{
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}
.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus{
    border: 2px solid blue;
}
.formulario input[type="submit"]{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid palevioletred;
    background: none;
    cursor: pointer;
border-radius: 3px;
font-size: 16px;
}
.formulario input[type="submit"]:hover{
    background: rgb(142, 142, 216);
    color: white;
}